a[title="davegson"] img {
  border-radius: 50px;
}

.md-header__topic .name {
  text-transform: uppercase;
  font-weight: 300;
  margin-right: 0.5rem;
}

.md-header__topic .last-name {
  text-transform: uppercase;
  font-weight: 400;
}